#login {
    width: 100vw;
    height: 100vh;
    margin: 0;

    background: aqua;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login > h1 {
    width: 500px;
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 100px;
}

#login > input {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-style: none none solid none;
    border-bottom-width: thin;

    font-size: 32px;
}

#login > button {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    font-size: 32px;
}

#game-canvas {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;

    background-color: black;
}